.ant-pagination {
  display: flex !important;
  justify-content: center !important;
}

.ant-pagination-item-active {
  border: none !important;
  border-color: transparent !important;
}
.ant-pagination-item {
  border: none !important;
}

.carousel-container {
  position: relative;
}

.custom-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: "#ffffff";
  padding: 8px 13px;
  border-radius: 50%;
  border: 1px solid rgb(189, 180, 180);
  cursor: pointer;
  z-index: 1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.custom-arrow:hover {
  background-color: green;
}

.custom-arrow.left {
  left: -50px; /* Adjust based on how far outside you want the arrow */
}

.custom-arrow.right {
  right: -50px; /* Adjust based on how far outside you want the arrow */
}
.react-multi-carousel-list {
  position: static !important;
}
